html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
i,
ul,
li,
form,
label,
footer,
header,
nav,
section,
a {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-user-select: none;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
}
html {
  font-size: 125%;
/*1rem == 20px*/
}
html,
body {
  overflow-x: hidden;
}
body {
  -webkit-overflow-scrolling: touch;
}
.icon {
  background-image: url("img/sprite.png");
}
@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .icon {
    background-image: url("img/sprite-x2.png");
    background-size: 22px 88px;
  }
}
.icon-intro {
  background-position: -2px -2px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 17px;
  height: 17px;
}
.icon-localtion {
  background-position: -2px -24px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 17px;
  height: 17px;
}
.icon-logo {
  background-position: -2px -46px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 17px;
  height: 17px;
}
.icon-tag {
  background-position: -2px -68px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 17px;
  height: 17px;
}
